* {
    box-sizing: border-box;
    color: whitesmoke
}

html, body{
    background-color: #23252C;
    display: flex;
    justify-content: center;
}

h1, h4{
    margin: 0;
}

h1{
    margin-top: 21px; 
}

.about{
    margin-top: 33px;
    margin-bottom: 5px
}

h4{
    color: #F3BF99;
}

p{
    color: #DCDCDC;
    font-size: 14px;
    opacity: 90%;
    line-height: 18px;
    margin: 0
}

.email{
    margin-top: 12px;
    margin-bottom: 16px;
}

.linked-in-logo{
    width: 15px;
    height: 15px;
}

.container{
    width: 321px;
    height: 793px;
    background-color: #1A1B21;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black
}

.profile{
    width: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 8px 22px;
    background-color: whitesmoke;
    color: black;
    border-radius: 4px;
}

.button2{
    padding: 8px 14px;
    background-color: #5093E2;
    color: whitesmoke;
    border-radius: 3px
}

.button img, .button2 img{
    margin-right: 10px
}

.buttons{
    display: flex;
    justify-content: space-around;
}

main{
    width: 247px;
}

.interest{
    margin-top: 14px;
    margin-bottom: 5px;
}

footer{
    height: 64px;
    background-color: #161619;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer img{
    width: 25px;
    height: 25px;
}

.bruh{
    margin-bottom: 21px;
}

a{
    text-decoration: none;
}